<%= render "shared/white_header" %>
<div class="mypage">
  <div class="mypage-upper">

    <% if current_user == @user %>
      <%= content_tag :div,
        id: "user-profile-app",
        data: {
          id: @user.id,
          name: @user.name,
          username: @user.username,
          bio: @user.bio,
          image: @user.image_url,
          followings: @user.followings_count,
          followers: @user.followers_count,
        }.to_json do %>
      <% end %>
    <% else %>
      <%= render "users/profile", user: @user %>
    <% end %>

    <div class="mypage-menu">
      <ul>
        <li>
          <%= link_to "Bookshelf", "/@#{@user.username}/bookshelf",
            class: @menu.eql?("bookshelf") || @menu.blank? ? "active menu-item" : "menu-item" %>
        </li>
        <li>
          <%= link_to "Likes", "/@#{@user.username}/likes",
            class: @menu.eql?("likes") ? "active menu-item" : "menu-item" %>
        </li>
        <% if current_user == @user %>
          <li>
            <%= link_to "Drafts", "/@#{@user.username}/drafts",
            class: @menu.eql?("drafts") ? "active menu-item" : "menu-item" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="mypage-lower">
    <% if @menu == "bookshelf" || @menu.blank? %>
      <%= content_tag :div,
        id: "bookshelf-app",
        data: {
          userId: @user.id
        }.to_json do %>
      <% end %>
    <% end %>
    <% if @menu == "likes" %>
      <%= content_tag :div,
        id: "bookmark-tab-app" do %>
      <% end %>
    <% end %>
    <% if @menu == "drafts" && @user == current_user %>
      <p>Draft</p>
    <% end %>
  </div>
</div>
