<%= render "shared/green_header" %>
<div class="mypage">
  <div class="mypage-upper">

    <% if current_user == @user %>
      <%= content_tag :div,
        id: "user-profile-app",
        data: {
          id: @user.id,
          name: @user.name,
          username: @user.username,
          bio: @user.bio,
          image: @user.image_url,
          followings: @user.followings_count,
          followers: @user.followers_count,
          facebookLink: @user.facebook_link,
          twitterLink: @user.twitter_link,
          facebookOmniauthPath: user_facebook_omniauth_authorize_path,
          twitterOmniauthPath: user_twitter_omniauth_authorize_path,
        }.to_json do %>
      <% end %>
    <% else %>
      <%= render "users/profile", user: @user %>
    <% end %>

    <div class="mypage-menu">
      <ul>
        <li>
          <%= link_to "Bookshelf", "/@#{@user.username}/bookshelf",
            class: @menu.eql?("bookshelf") || @menu.blank? ? "active menu-item" : "menu-item" %>
        </li>
        <% if current_user == @user %>
          <li>
            <%= link_to "Drafts", "/@#{@user.username}/drafts",
            class: @menu.eql?("drafts") ? "active menu-item" : "menu-item" %>
          </li>
          <li>
            <%= link_to "Bookmarks", "/@#{@user.username}/likes",
              class: @menu.eql?("likes") ? "active menu-item" : "menu-item" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="mypage-lower">
    <% if @menu == "bookshelf" || @menu.blank? %>
      <%= content_tag :div,
        id: "bookshelf-app",
        data: {
          userId: @user.id
        }.to_json do %>
      <% end %>
    <% end %>
    <% if @menu == "likes" %>
      <%= content_tag :div,
        id: "bookmark-tab-app",
        data: {
          userId: @user.id,
          beforeClapImage: image_url("before_clap"),
          afterClapImage: image_url("after_clap"),
        }.to_json do %>
      <% end %>
    <% end %>
    <% if @menu == "drafts" && @user == current_user %>
      <%= content_tag :div,
        id: "draft-tab-app",
        data: {
          userName: current_user.username,
          posts: @draft_posts.map do |post|
            {
              uuid: post.uuid,
              titleDraft: post.title_draft,
              updatedAt: format_date(post.updated_at),
            }
          end,
        }.to_json do %>
      <% end %>
    <% end %>
  </div>
</div>
