<header class="green-header">
  <div class="header-upper clearfix">
    <div class="header-upper-left">
      <h1 class="logo">
        <%= link_to image_tag('book_logo.png'), root_path %>
      </h1>
      <p class="wording">Log your reading records. Browse friends' reading records. </p>
    </div>
    <div class="header-upper-right">
      <nav class="header-menu">
        <ul>
          <li class="menu-item write-record"><%= link_to "Write a Record", "#" %></li>
          <li class="menu-item icon"><i class="fa fa-cog" aria-hidden="true"></i></li>
          <li class="menu-item icon"><i class="fa fa-bell-o" aria-hidden="true"></i></li>
          <li class="menu-item profile-window"><%= link_to image_tag(current_user.image_url), '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-lower">
    <nav class="global-nav">
      <ul>
        <li class="nav-item"><%= link_to "TOP", root_path %></li>
        <li class="nav-item"><%= link_to "Following", "#" %></li>
        <li class="nav-item"><%= link_to "Follower", "#" %></li>
        <li class="nav-item"><%= link_to "Find User", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
