<div class="posts-std-grid">
  <% posts.each do |post| %>
    <div class="posts-std-grid-item">
      <%= image_tag post.book_image_url, class: "book-image", alt: post.book_title %>
      <div class="post-info">
        <%= link_to post.title, post_path(post), class: "post-title" %>
        <%= link_to strip_tags(post.content), post_path(post), class: "post-content" %>
      </div>
      <div class="profile-info clearfix">
        <%= link_to "/@#{post.user.username}" do %>
          <%= image_tag post.user.image_url, class: "profile-image" %>
        <% end %>
        <div class="profile-right">
          <%= link_to post.user.name, "/@#{post.user.username}", class: "profile-name overflow-ellipsis" %>
          <p class="post-published-at"><%= format_date(post.first_published_at) %></p>
        </div>
      </div>
      <div class="bookmark-button-wrapper">
        <% if user_signed_in? %>
          <%= content_tag :div,
            class: "bookmark-component-root-div",
            data: {
              postUuid: post.uuid,
              isBookmarked: post.bookmarked_by?(current_user),
            }.to_json do %>
          <% end %>
        <% else %>
          <%= content_tag :div,
            class: "login-popup-app",
            data: {
              facebookAuthPath: user_facebook_omniauth_authorize_path,
              twitterAuthPath: user_twitter_omniauth_authorize_path,
              logoImage: image_url("binder_only_text.png"),
              buttonId: "bookmark-button",
              modalMode: "signup"
            }.to_json do %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
