<%= render "shared/green_header" %>
<div id="top-page-body" class="top-page">
  <div class="world-timeline-wrapper">
    <div class="world-timeline-header clearfix">
      <h2 class="world-timeline-title">
        <%= link_to "Timeline", streams_timeline_path %>
      </h2>
      <%= link_to "More >",
        streams_timeline_path,
        class: "more-world-timeline"
      %>
  </div>
  <%= render "shared/posts_std_grid", posts: @posts_from_timeline %>
  </div>
  <% if user_signed_in? %>
    <div class="from-followings-wrapper">
      <div class="from-followings-header clearfix">
        <h2 class="from-followings-title">
          <%= link_to "From your followings", streams_from_followings_path %>
        </h2>
        <%= link_to "More >",
          streams_from_followings_path,
          class: "more-from-followings"%>
      </div>
      <%= render "shared/posts_std_grid", posts: @posts_from_followings %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
(function() {
  var topPageHeader = document.getElementById("top-page-header");
  var lastScrollTop = 0;

  window.addEventListener("scroll", () => {
    var st = document.documentElement.scrollTop;

    if (st > lastScrollTop) { // when scrolling up
      topPageHeader.classList.add("header-hide");
    } else { // when scrolling down
      topPageHeader.classList.remove("header-hide");
    }

    lastScrollTop = st;
  });
})();
</script>
