<%= render "shared/green_header" %>
<div class="posts-show">
  <h2 class="post-title">
    <%= @post.title %>
  </h2>
  <div class="meta-data-wrapper clearfix">
    <div class="profile-image">
      <%=  link_to(image_tag(@post.user.image_url), "/@#{@post.user.username}") %>
    </div>
    <div class="meta-data-right">
      <div class="profile-name">
        <span><%= @post.user.name %></span>
      </div>
      <div class="profile-bio overflow-ellipsis">
        <span><%= @post.user.bio %></span>
      </div>
      <div class="published-at">
        <span><%= @post.published? ? format_date(@post.first_published_at) : format_date(Time.zone.now) %></span>
      </div>
    </div>
    <div class="bookinfo">
      <div class="book-image">
        <%= link_to(image_tag(@post.book_image_url), @post.affiliate_link.present? ? @post.affiliate_link : "#") %>
      </div>
    </div>
    <div class="post-tags">
      <button class="tag-item-button">ドグラマグラ</button>
      <button class="tag-item-button">夢野久作</button>
      <button class="tag-item-button">小説</button>
    </div>
  </div>
  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>
  <div class="action-buttons">
    <button class="clap-button">
      <%= image_tag "before_clap", class: "clap-image" %>
    </button>
    <p class="claps-count">35</p>
    <button class="bookmark-button">
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
    </button>
    <button class="twitter-button">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </button>
    <button class="facebook-button">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </button>
  </div>
  <div class="book-introduction">
    <h2 class="book-intro-header">この記事の本</h2>
    <div class="book-intro-body">
      <%= image_tag @post.book_image_url, class: "book-intro-image" %>
      <div class="book-infos">
        <p class="book-title overflow-ellipsis">書名: <%= @post.book_title %></p>
        <p class="book-author overflow-ellipsis">著者: <%= @post.book_author %></p>
        <% if @post.book_publisher.present? %>
          <p class="book-publisher overflow-ellipsis">出版: <%= @post.book_publisher %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="below-author-profile">
    <%= link_to "本棚を見る >", "/@#{@post.user.username}/bookshelf", class: "link-to-bookshelf" %>
    <h2 class="author-profile-header">この記事の著者</h2>
    <div class="author-profile-body clearfix">
      <%= image_tag @post.user.image_url, class: "author-profile-image" %>
      <div class="author-profile-right">
        <p class="author-profile-name"><%= @post.user.name %></p>
        <button class="follow-button">フォロー</button>
        <p class="author-profile-bio"><%= @post.user.bio %></p>
      </div>
    </div>
  </div>
</div>
