<%= render "shared/green_header" %>
<div class="posts-show">
  <h2 class="post-title">
    <%= @post.title %>
  </h2>
  <div class="meta-data-wrapper clearfix">
    <div class="profile-image">
      <%=  link_to(image_tag(@post.user.image_url), "/@#{@post.user.username}") %>
    </div>
    <div class="meta-data-right">
      <div class="profile-name">
        <span><%= @post.user.name %></span>
      </div>
      <div class="profile-bio overflow-ellipsis">
        <span><%= @post.user.bio %></span>
      </div>
      <div class="published-at">
        <span><%= @post.published? ? format_date(@post.first_published_at) : format_date(Time.zone.now) %></span>
      </div>
    </div>
    <div class="bookinfo">
      <div class="book-image">
        <%= link_to(image_tag(@post.book_image_url), @post.affiliate_link.present? ? @post.affiliate_link : "#") %>
      </div>
    </div>
    <div class="post-tags">
      <% [@post.book_title, @post.book_author].concat(@post.tags.map { |t| t.name }).each do |tag| %>
        <button class="tag-item-button"><%= tag %></button>
      <% end %>
    </div>
  </div>
  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>
  <div class="action-buttons">
    <div class="bottom-clap-button-wrapper">
      <%= content_tag :div,
        id: "clap-button-root",
        data: {
          postUuid: @post.uuid,
          clappedCount: @post.claps_count,
          clappedCountByMe: current_user.present? ? current_user.clap_count_of(@post) : 0,
          beforeClapImage: image_url("before_clap"),
          afterClapImage: image_url("after_clap"),
        }.to_json do %>
      <% end %>
    </div>
    <%= content_tag :div,
      class: "bookmark-component-root-div bookmark-button-wrapper",
      data: {
        postUuid: @post.uuid,
        isBookmarked: @post.bookmarked_by?(current_user),
      }.to_json do %>
    <% end %>
    <button class="twitter-button">
      <%= content_tag :i,
        id: "twitter-share-button",
        class: "fa fa-twitter",
        "aria-hidden": true,
        data: {
          postUrl: post_url(@post),
        }.to_json do %>
      <% end %>
    </button>
    <button class="facebook-button">
      <%= content_tag :i,
        id: "facebook-share-button",
        class: "fa fa-facebook-square",
        "aria-hidden": true,
        data: {
          postUrl: post_url(@post),
        }.to_json do %>
      <% end %>
    </button>
  </div>
  <div class="book-introduction">
    <h2 class="book-intro-header">この記事の本</h2>
    <div class="book-intro-body">
      <%= image_tag @post.book_image_url, class: "book-intro-image" %>
      <div class="book-infos">
        <p class="book-title overflow-ellipsis">書名: <%= @post.book_title %></p>
        <p class="book-author overflow-ellipsis">著者: <%= @post.book_author %></p>
        <% if @post.book_publisher.present? %>
          <p class="book-publisher overflow-ellipsis">出版: <%= @post.book_publisher %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="links-to-sibling-post clearfix">
    <div class="left-link-wrapper">
      <% if @prior_post.present? %>
        <%= link_to post_path(@prior_post) do %>
          <p class="link-to-prior-post"><%= @prior_post.title %></p>
          <i class="fa fa-angle-left left-link-arrow" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <div class="right-link-wrapper">
      <% if @posterior_post.present? %>
        <%= link_to post_path(@posterior_post) do %>
          <p class="link-to-next-post"><%= @posterior_post.title %></p>
          <i class="fa fa-angle-right right-link-arrow" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="below-author-profile">
    <%= link_to "本棚を見る >", "/@#{@post.user.username}/bookshelf", class: "link-to-bookshelf" %>
    <h2 class="author-profile-header">この記事の著者</h2>
    <div class="author-profile-body clearfix">
      <%= image_tag @post.user.image_url, class: "author-profile-image" %>
      <div class="author-profile-right">
        <p class="author-profile-name"><%= @post.user.name %></p>
        <div class="follow-button-wrapper">
          <% unless current_user == @post.user %>
            <%= content_tag :div,
              id: "follow-button-component-id",
              data: {
                userId: @post.user.id,
                isFollowed: current_user.present? ? @post.user.followed_by?(current_user) : false,
              }.to_json do %>
          <% end %>
        <% end %>
        </div>
        <p class="author-profile-bio"><%= @post.user.bio %></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  var twBtn = document.getElementById("twitter-share-button");
  var fbBtn = document.getElementById("facebook-share-button");
  var twData = JSON.parse(twBtn.getAttribute("data"));
  var fbData = JSON.parse(fbBtn.getAttribute("data"));

  twBtn.addEventListener("click", function() {
    window.open(
      "https://twitter.com/intent/tweet?url=" + twData.postUrl,
      "Tweet",
      "height=285,width=550,resizable=1"
    );
  });

  fbBtn.addEventListener("click", function() {
    window.open(
      "https://www.facebook.com/sharer/sharer.php?u=" + fbData.postUrl,
      "Facebook",
      "height=269,width=550,resizable=1",
    );
  });
})
</script>
