<%= render "shared/green_header" %>
<div class="posts-show">
  <h2 class="post-title">
    <%= @post.title %>
  </h2>
  <div class="meta-data-wrapper clearfix">
    <div class="profile-image">
      <%=  link_to(image_tag(@post.user.image_url), "/@#{@post.user.username}") %>
    </div>
    <div class="meta-data-right">
      <div class="profile-name">
        <span><%= @post.user.name %></span>
      </div>
      <div class="profile-bio overflow-ellipsis">
        <span><%= @post.user.bio %></span>
      </div>
      <div class="published-at">
        <span><%= @post.published? ? format_date(@post.first_published_at) : format_date(Time.zone.now) %></span>
      </div>
    </div>
    <div class="bookinfo">
      <div class="book-image">
        <%= link_to(image_tag(@post.book_image_url), @post.affiliate_link.present? ? @post.affiliate_link : "#") %>
      </div>
    </div>
    <div class="post-tags">
      <button class="tag-item-button">ドグラマグラ</button>
      <button class="tag-item-button">夢野久作</button>
      <button class="tag-item-button">小説</button>
    </div>
  </div>
  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>
</div>
