<!DOCTYPE html>
<html>
  <head>
    <title>DailyBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'post_editor_app' %>
    <%= javascript_pack_tag 'user_profile_app' %>
    <%= javascript_pack_tag 'bookshelf_app' %>
    <%= javascript_pack_tag 'userpage_follow_app' %>
    <%= javascript_pack_tag 'timeline_app' %>
    <%= javascript_pack_tag 'bookmark_button' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
